/* Animações */

@keyframes turnaround {
    0% {transform: rotate(0)}
    25% {transform: rotate(-4deg)}
    75% {transform: rotate(4deg)}
    100% {transform: rotate(0)}
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(to right, #e53935, #e35d5b);
}

.form-control label{
    color: #616161;
}

.form-control input{
    min-height: 24px;
    padding: 4px;
    margin-bottom: 16px;
    width: 100%;
    border-bottom: #bdbdbd solid 1px;
}

/* Botões */
.btn{
    padding: 16px;
    border: none;
}

.btn-primary{
    background: linear-gradient(to right, #fd746c, #ff9068);
    color: white;
}

/* Formulário de adição */

.med-add{
    border-bottom: 1px solid #bdbdbd;
    margin: 16px;
}

/* Padrões */

.box{
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    /* border: solid black 1px; */
  animation-name: turnaround;
  animation-duration: .5s;
}

.box-header{
    padding: 16px;
    background: linear-gradient(to right, #fd746c, #ff9068);
    color: white;
}

.box-title{
    font-size: 24px;
    display: inline-block;
}

.box-icon{
    height: 20px;
    display: inline-block;
}

.box-content{
    padding: 16px;
}

/* Remédio */

.med{
    padding: 8px;
}

.med:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    transition: .15s;
}

.med-figure{
    flex: 1;
}

.med-content{
    flex: 5;
    padding-left: 26px;
}

.med-title{
    color: #424242;
}

.med-desc, .med-hours, .med-date{
    margin: 5px auto;
    color: #616161;
}

.med-days-week{
    text-align: center;
    margin-bottom: 6px;
}
.med-days-week th, .med-days-week input[type=checkbox]{
    width: 20px !important;
    text-transform: uppercase;
    height: 20px !important;
    color: #bdbdbd;
}

/* Flexbox */

.container{
    display: flex;
}

.col-1{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

.col-4{
    flex: 4;
}

.col-5{
    flex: 5;
}

.col-6{
    flex: 6;
}

.col-7{
    flex: 7;
}

/* Larguras padrões */

.w-20{
    width: 20%;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}

/* Margens internas e externas */

.p-1{
    padding: 8px;
}

.p-2{
    padding: 16px;
}

.p-3{
    padding: 32px;
}

.p-4{
    padding: 64px;
}

.p-5{
    padding: 128px;
}

.m-1{
    margin: 8px;
}

.m-2{
    margin: 16px;
}

.m-3{
    margin: 32px;
}

.m-4{
    margin: 64px;
}

.m-5{
    margin: 128px;
}

/* Alinhamento */

.centered{
    margin-left: auto;
    margin-right: auto;
}